apiVersion: v1
kind: Namespace
metadata:
  name: ate-sdlc

---

apiVersion: ate.dev/v1alpha1
kind: WorkerPool
metadata:
  name: sdlc
  namespace: ate-sdlc
spec:
  replicas: 3
  ateomImage: ko://github.com/agent-substrate/substrate/cmd/servers/ateom-gvisor

---

apiVersion: ate.dev/v1alpha1
kind: ActorTemplate
metadata:
  name: sdlc
  namespace: ate-sdlc
spec:
  runsc:
    amd64:
      url: "gs://gvisor/releases/nightly/2026-05-19/x86_64/runsc"
      sha256Hash: "a397be1abc2420d26bce6c70e6e2ff96c73aaaab929756c56f5e2089ea842b63"
    arm64:
      url: "gs://gvisor/releases/nightly/2026-05-19/aarch64/runsc"
      sha256Hash: "1ba2366ae2efceba166046f51a4104f9261c9cb72c6db8f5b3fe2dc57dea86b9"
  pauseImage: "registry.k8s.io/pause:3.10.2@sha256:f548e0e8e3dc1896ca956272154dde3314e8cc4fde0a57577ee9fa1c63f5baf4"
  containers:
  - name: sdlc
    image: ${SDLC_ACTOR_IMAGE}
    command: ["/sdlc-actor"]
  workerPoolRef:
    namespace: ate-sdlc
    name: sdlc
  snapshotsConfig:
    location: gs://${BUCKET_NAME}/ate-sdlc/
